.fingertips {
  background: #f1fdf7;
  padding-bottom: 96px;
  padding-top: 96px;

  .container {
    align-items: center;
    display: flex;
    margin: auto;
    width: 1400px;

    .detail {
      color: #404145;
      margin-left: 52px;
      width: 44.3%;

      h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        padding-right: 30%;
      }

      ul {
        margin-top: 26px;
        padding-right: 30%;
        li {
          padding-bottom: 24px;
          h6 {
            align-items: center;
            color: #404145;
            display: flex;
            font-size: 18px;
            gap: 12px;
            padding-bottom: 8px;

            span {
              fill: #74767e;
            }
          }
          p {
            font-size: 18px;
            font-weight: 200;
            line-height: 26px;
          }
        }
      }
    }

    .modal-video {
      width: 53.33333%;
      .video {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.65);
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateY(0);
        z-index: 9999;
        video {
          max-width: 900px;
        }
      }
      .picture-wrapper {
        cursor: pointer;
        position: relative;
        &:after {
          background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png) no-repeat;
          background-size: 80px;
          content: "";
          display: inline-block;
          height: 80px;
          left: 50%;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 80px;
          z-index: 0;
        }
        img {
          max-width: 93%;
          padding-left: 20px;
        }
      }
    }
  }
}
